<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="api/nuoviClienti" method="POST">
  <label for="fname">cognome:</label>
  <input type="text" id="cognome" name="cognome"><br><br>
  <label for="lname">nome</label>
  <input type="text" id="nome" name="nome"><br><br>
  <label for="lname">numero di telefono</label>
  <input type="text" id="numeroTelefono" name="numeroTelefono"><br><br>
  <input type="submit" value="Aggiungi cliente">

</form>
</body>
</html>