<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</head>
<body>

<script >$(document).ready(function(){
		$.getJSON("api/servizi", function(data){
			$.each(data, function(elencoServizi, value){		
			$("#servizi").append("<tr><td>"+value.descrizione+"</td><td>"+value.nomeServizio+"</td><td>");	
			});
		});
	});</script>
	
<h1>Servizi erogati</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Descrizione</th>
      <th scope="col">Nome servizio</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  
  <tbody id = "servizi">
  </tbody>
</table>
  <form action="/aggiungiServizio" method="POST">
   <!-- altri campi del form -->
   <input type="submit" value="aggiungi servizio">
</form>
  <form action="/visualizzaClienti" method="GET">
   <!-- altri campi del form -->
   <input type="submit" value="visualizza clienti">
</form>
<form action="/aggiungiCliente" method="POST">
   <!-- altri campi del form -->
   <input type="submit" value="aggiungi cliente">
</form>
</body>
</html>